*{
    margin: 0;
    padding: 0;
    background-color: rgb(105, 113, 107);
    font-family: "Arial Black", Gadget, sans-serif;;
}
@font-face {
    font-family: 'Scoreboard';
    src: url(../universal_view/scoreboard.ttf);
}

.main{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.team{
    color: white;
    text-align: center; 
}
.score{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    padding: 25px 120px;
    color: rgb(247, 0, 0);
    background-color: black;
    border-radius: 10px;
    font-family: 'Scoreboard', sans-serif;
}
.under-top{
    display: flex;
}
#pause1{
    margin-left: 19%;
}
#pause2{
    margin-left: 50%;
}
.pause{
    font-size: 32px;
    color: white;
}

.top-board{
    display: flex;
    justify-content: space-around;
}
.middle{
    display: flex;
    justify-content: space-around;
    padding: 0 180px;
    margin-top: 50px;
}
.set{
    padding: 20px 60px;
    background-color: black;
    color: rgb(247, 0, 0);
    border-radius: 10px;
    font-family: 'Scoreboard';
    font-size: 48px;
    font-weight: 600;
}
.count-set{
    font-size: 48px;
    font-weight: 600;
    border-radius: 10px;
    color: rgb(247, 0, 0);
    padding: 20px 45px;
    background-color: black;
    font-family: 'Scoreboard';
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.timer{
    color: white;
}

.time{
    padding: 20px 250px;
    background-color: black;
    color: rgb(247, 0, 0);
    font-size: 60px;
    font-weight: 600;
    font-family: 'Scoreboard';
    border-radius: 10px;
}